{% extends 'film/base.html' %}

{% block content %}

  <style>
    /* CSS стили для красивого оформления */
     body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        overflow: hidden; /* Убираем прокрутку */
      }
     h1 {
        color: #333;
        text-align: center;

     }

     p {
        color: #555;
        line-height: 1.5;
        text-indent: 50px;
     }
  </style>
</head>

<body>
  <h1>Добро пожаловать в мир творчества и вдохновения!</h1>
  <p>Здесь, на этом волшебном веб-сайте, вы обнаружите место, где ваша история может оживать вместе с красочными изображениями. Давайте погрузимся в безграничный океан слов и картинок, где каждая статья становится неповторимым произведением искусства.</p>
  <p>Наш сайт - это пространство, где ваше творчество не знает границ. Здесь вы можете разместить свои самые мощные мысли, эмоции и идеи вместе с прекрасными иллюстрациями, чтобы оживить их на страницах вашей статьи. Мы стремимся создать место, где ваш голос будет услышан и ваше видение будет разделено с остальным миром.</p>
  <p>На нашем сайте мы верим, что слова и изображения вместе обладают магической силой, способной передать глубину и значимость вашего послания. Здесь вы найдете множество инструментов и возможностей, чтобы оформить свои идеи наилучшим образом. Вы можете легко загружать и добавлять картинки, которые иллюстрируют вашу статью и создают эмоциональную связь с читателем.</p>
  <p>Каждая статья на нашем сайте - это уникальная история, которая заслуживает быть услышанной. Мы поддерживаем разнообразие и разносторонность и приветствуем ваши уникальные голоса. Независимо от темы, жанра или стиля, у вас есть возможность найти свою аудиторию и поделиться своими мыслями с миром.</p>
  <p>Присоединяйтесь к нам на нашем сайте и откройте новые горизонты возможностей. Дайте волю своей фантазии и вдохновению!</p>
</body>

{% endblock %}


