{% extends 'film/base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
 
<form method="post">
    {% csrf_token %}
 
    <div class="form-error">{{ form.non_field_errors }}</div>
 
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
 
    <button type="submit">Отправить</button>
 
</form>
 
<p>{% endblock %}

<!--
1 указывает, что этот шаблон расширяет (наследует) другой шаблон с именем 'film/base.html'. Это означает, что содержимое этого шаблона будет вставлено в определенное место (блок) в базовом шаблоне.
2 20 определяют блок контента, который будет заменен в базовом шаблоне. Здесь размещается основное содержимое страницы, которое будет отображаться внутри блока content базового шаблона.
4 отображает значение переменной title, которое будет передано в шаблон из контекста.
6начинает HTML-форму с методом POST.
7 генерирует и вставляет токен защиты от подделки межсайтовых запросов (CSRF) в форму. Этот токен используется для обеспечения безопасности при отправке данных формы.
11 14 создают цикл, который перебирает поля формы и отображает их на странице.
f.label  отображает метку (label) для каждого поля формы, а f отображает само поле формы.
 form.non_field_errors  отображает ошибки, которые не связаны с определенными полями формы.
 f.errors  отображает ошибки, связанные с конкретным полем формы.
button type="submit">Отправить</button>- кнопка отправки формы.

-->